*:hover {
	background-color: red;
}
h1 {
	text-align: center;
}

.pagina_normal {
 	background-color: #FEF7CE;
}

.pagina_bonita {
	background-color: #FFC0CB;
}

abbr {
	text-decoration: none
}
	
#foto_andrea {
	width: 100%
}

#foticos {
	width: auto;
  margin: ;
}



nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

nav li {
  float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 15px 15px;
text-decoration: none;
font-size: 34pt;
text-transform: uppercase;
float: right;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #ff80ff;
  color: #000000;
}

p,h2,h3,cite {
  text-align: justify;
  margin: 15px;
}
body {
  margin: 0px;
  font-family: arial
}

