h1 {
	text-align: center;
}

.pagina_normal {
 	background-color: #FEF7CE;
}

.pagina_bonita {
	background-color: #FFC0CB;
}

abbr {
	text-decoration: none;
}
	
#foto_andrea {
	width: 50%;
}

@media screen and (max-width: 370) {
    #foto_andrea {
	width: 100%;
}
}

#foticos {
	width: auto;
  margin: ;
}

nav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

nav a {
	display: inline-block;
	color: white;
	text-align: center;
	width: 80px;
	padding: 5px;
	margin: auto;
	text-decoration: none;
	font-size: 12pt;
	text-transform: uppercase;
	float: none;
	background-color: #111;
}

p,h2,h3,cite {
  text-align: justify;
  margin: 15px;
}
body {
  margin: 0px;
  font-family: arial;
}

img:active {
	width: 90%;
}

a:hover {
	background-color: pink;
}
