h1 {
	text-align: center;
}

.pagina_normal {
 	background-color: #ffff33
}

.pagina_bonita {
	background-color: #FFC0CB
}

nav {
	display: flex
}
cite {
	display: block;
	text-align: center;
}

#triste {
	display: block;
	text-align: center;
}


#presentacion {
	display: block;
	text-align: center;
}

.navegacion {
    border-width:3px;  
    border-style: outset;
    border-color: #99ffff;
    background-color: #ccffff;
	margin: auto;
    color: #000000;
    text-decoration: none;
}
.navegacion-pulsado {
    border-width:3px;  
    border-style: inset;
    border-color: #99ffff;
    background-color: #ccffff;
   	margin: auto;
    color: #000000;
    text-decoration: none;
}
abbr {
	text-decoration: none
}
@media (max-width: 200px) {
  #foticos {
    flex-direction: column;
}
img {
	padding: 30px;
  	flex: 25%;
}
